{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">

<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{% url 'home' %}">ნებითი ალგორითმი</a>
    </div>
    <ul class="navbar-menu">
{#        <li><a href="{% url 'my_reactions' %}">რეაქციები</a></li>#}
        {% if user.is_authenticated %}
            <li><a href="#">პროფილი</a></li>
        {% else %}
            <li><a href="#">შესვლა</a></li>
        {% endif %}
        <li><a href="#">კონტაქტი</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">გამოსვლა</a></li>
        {% endif %}

    </ul>
  </nav>
</header>
