{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/my-reactions.css' %}">

{% include 'nebiti/header.html' %}


<div class="reactions-container">
  <h1 class="reactions-title">ჩემი რეაქციები</h1>
  <table class="reactions-table">
    <thead>
      <tr>
        <th class="reactions-table-header reactions-post-title-header">პოსტის სათაური</th>
        <th class="reactions-table-header reactions-reaction-header">რეაქცია</th>
      </tr>
    </thead>
    <tbody>
      {% for reaction in reactions %}
      <tr class="reactions-table-row">
        <td class="reactions-table-data reactions-post-title-data">{{ reaction.post.title }}</td>
        <td class="reactions-table-data reactions-reaction-data {% if reaction.reaction %}positive{% else %}negative{% endif %}">
          {% if reaction.reaction %}<i class="fas fa-thumbs-up"></i> Liked{% else %}<i class="fas fa-thumbs-down"></i> Disliked{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% include 'nebiti/footer.html' %}